@charset "UTF-8";

@media (min-width: 767px) {
	#navi-stack {
		display: none;
	}
	body {
		padding-top: 160px;
	}
}

@media (max-width: 767px) {
	.cat_image  {
		display: none;
	}
	#navi {
		display: none;
	}
	#header img {
		display: none;
	}
	body {
		padding-top: 95px;
	}
}

#header {
	position: fixed;
	top:0px;
	left:0px;
	background-color: #545454;
	margin-bottom: 30px;
	padding-bottom: 5px;
	width: 100%;
	box-shadow: 0 0 5px #666;
}

#footer {
	position: fixed;
	bottom:0px;
	left:0px;
	background-color: #545454;
	margin-top: 30px;
	padding-top: 5px;
	width: 100%;
	box-shadow: 0 0 5px #666;
	color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	padding-bottom:6px;
}

#navi-stack {
	background-color: #545454;
	text-align: center;
	width: 100%;
}

#navi-stack a {
	color: white;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	width: 100%;
}

#navi-stack a.active {
	color: #6699cc;
}

#navi a:hover {
	color: #6699cc;
}

#navi {
	background-color: #545454;
	width:100%;
	height:20px;
}

#navi a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-decoration:none;
	text-transform: uppercase;
	color: white;
	padding:0px;
	margin:0px;
	background-image: url(../img/point.gif);
	background-color: #545454;
	background-position:right;
	background-repeat:no-repeat;
	padding-right: 16px;
	padding-left: 8px;
}

#navi a:hover {
	color: #6699cc;
}

#navi a.last {
	background: none;
}

#navi a.active {
	color: #6699cc;
}

.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 15px;
	color: #6699cc;
	text-transform: uppercase;
}
.copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	text-transform: none;
}
.btn1 {
	width:16px;
	height:16px;
	float: left;
}
.btn1 a {
	background-image: url(../img/1_off.gif);
	background-repeat:no-repeat;
	padding:8px;
}
.btn1 a.active {
	background-image: url(../img/1_on.gif);
}
.btn1 a:hover {
	background-image: url(../img/1_on.gif);
}
.btn2 {
	width:16px;
	height:16px;
	float: left;
}
.btn2 a {
	background-image: url(../img/2_off.gif);
	background-repeat:no-repeat;
	padding:8px;
}
.btn2 a.active {
	background-image: url(../img/2_on.gif);
}
.btn2 a:hover {
	background-image: url(../img/2_on.gif);
}