@charset "UTF-8";
#main {
	position:relative;
	left:45px;
	width:960px;
	height:600px;
	z-index:1;
}
#header {
	position:absolute;
	left:0px;
	top:0px;
	width:960px;
	height:115px;
	z-index:2;
}
#content_text {
	position:absolute;
	left:0px;
	top:170px;
	width:465px;
	z-index:2;
}
#content_bild {
	position:absolute;
	left:540px;
	top:148px;
	width:380px;
	height:348px;
	z-index:2;
}
#navi {
	position:absolute;
	left:0px;
	top:545px;
	width:530px;
	height:20px;
	z-index:2;
}
body {
	background-image: url(bilder/bg.jpg);
}
.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 15px;
	color: #6699cc;
	text-transform: uppercase;
}
.copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	text-transform: none;
}
#content_textlang {
	position:absolute;
	left:0px;
	top:170px;
	width:850px;
	z-index:2;
}
